root = false

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,vue}]
indent_style = space
indent_size = 2
max_line_length = 150

[*.{html,css,d.ts}]
indent_style = tab
indent_size = 4

