.DS_Store
*.log
.vscode/settings.json
.idea/
.vs/

login_data.h
backend/test.db
tmp/
docker-compose.local.yml
docker-compose.prod.yml
backend/ZwooBackend.sln.DotSettings.user
backend/ZwooBackend/Properties/launchSettings.json
