.DS_Store
*.log
.vscode/settings.json
.idea/
.vs/

login_data.h
backend/test.db
tmp/
docker-compose.local.yml
docker-compose.prod.yml
backend/Zwoo.Backend.sln.DotSettings.user
backend/Zwoo.Backend/Properties/launchSettings.json
backend/Zwoo.Backend.LocalServer/Properties/launchSettings.json
