@page "/add-version-dialog"
@inject IDatabase _db

@inject DialogService DialogService

<RadzenTextBox @bind-Value="_version" Placeholder="Version" class="w-100 m-2"/>

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => DialogService.Close())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
        <RadzenButton Click="@(() => CreateVersion())" Text="OK" Style="width: 120px" />
    </div>
</div>

@code {
    string _version = "";
    
    private void CreateVersion()
    {
        var changelog = _db.Changelogs.AsQueryable().FirstOrDefault(changelog => changelog.ChangelogVersion == _version);
        if (changelog == null)
        {
            _db.Changelogs.InsertOne(new ChangelogDao(_version, $"<h1>{_version}</h1>", false));
        }
        DialogService.Close();
    }
}