@page "/change-user-password/{id}"
@using System.Text.RegularExpressions

@inject DialogService dialogService

<RadzenTemplateForm TItem="string" Data="_password" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <div class="row mb-5">
        <div class="col">
            <RadzenPassword @bind-Value="_password" Style="display: block" class="w-100" Placeholder="New Password..." Name="Password"/>
            <RadzenRequiredValidator Component="Password" Text="Password is Required\n" Popup="true"/>
            <RadzenCompareValidator Component="Password" Visible="@(Regex.Match(_password, "[0-9]+").Success)" Text="Password must Contain a Number" Value=@_password Popup="true"/>
            <RadzenCompareValidator Component="Password" Visible="@(Regex.Match(_password, "[a-zA-Z]+").Success)" Text="Password must Contain a Character" Value=@_password Popup="true"/>
            <RadzenCompareValidator Component="Password" Visible="@(Regex.Match(_password, "[!#$%&'*+/=?^_´{|}\\-[\\]]+").Success)" Text="Password must Contain a Special Character" Value=@_password Popup="true"/>
            <RadzenLengthValidator Component="Password" Text="Password must be at least 8 Characters long or shorter than 50 Characters" Min="8" Max="50" Popup="true"/>
        </div>
    </div>
</RadzenTemplateForm>

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => dialogService.Close())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
        <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="width: 120px" />
    </div>
</div>

@code {

    [Parameter] public ulong Id { set; get; }

    private string _password = "";
    
    public class ChangePasswordDialogResult
    {
        public ChangePasswordDialogResult(bool changePassword, string password)
        {
            ChangePassword = changePassword;
            Password = password;
        }

        public bool ChangePassword { set; get; } = false;
        public string Password { set; get; } = "";
    }

    void OnSubmit() => dialogService.Close(new ChangePasswordDialogResult(true, _password));

    void OnInvalidSubmit() { } 
}