@page "/ChangelogEditDialog/{changelog}"
@using ZwooInfoDashBoard.Data
@using Microsoft.AspNetCore.Components
@using ZwooDatabaseClasses

@inject DialogService DialogService

<div class="w-100" style="padding: 5px;">
    <RadzenButton Text="Save" Click="(() => Globals.ZwooDatabase.UpdateChangelog(changelog!))"/>
</div>

<RadzenHtmlEditor @bind-Value="@changelog!.ChangelogText" Style="flex-grow: 1">
    <RadzenHtmlEditorUndo />
    <RadzenHtmlEditorRedo />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorBold />
    <RadzenHtmlEditorItalic />
    <RadzenHtmlEditorUnderline />
    <RadzenHtmlEditorStrikeThrough />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorAlignLeft />
    <RadzenHtmlEditorAlignCenter />
    <RadzenHtmlEditorAlignRight />
    <RadzenHtmlEditorJustify />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorIndent />
    <RadzenHtmlEditorOutdent />
    <RadzenHtmlEditorUnorderedList />
    <RadzenHtmlEditorOrderedList />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorRemoveFormat />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorSubscript />
    <RadzenHtmlEditorSuperscript />
    <RadzenHtmlEditorSeparator />
    <RadzenHtmlEditorFormatBlock />
</RadzenHtmlEditor>

@code {
    [Parameter] public Changelog? changelog { set; get; }
}