@page "/NewBetaCode"
@using ZwooInfoDashBoard.Data

@inject DialogService DialogService

<RadzenTextBox @bind-Value="_code" Placeholder="Beta Code" class="w-100 m-2"/>

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => DialogService.Close())" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="width: 120px" Class="mr-1" />
        <RadzenButton Click="@(() => {Globals.ZwooDatabase.InsertBetacode(new BetaCode(_code)); DialogService.Close();})" Text="OK" Style="width: 120px" />
    </div>
</div>

@code {
    string _code = "";
}