.zwoo--tooltip {
	position: relative;
	display: inline;
}

.zwoo--tooltip::after {
	content: attr(data-text);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(100% + 0.5em);
	font-size: 0.75rem;
	line-height: 1.125rem;
	@apply transform transition-transform -translate-x-1/2 translate-y-1/2 scale-y-0 px-1 py-0.5 rounded z-50 text-center;
	@apply text-_text-dark-secondary dark:text-_text-light-secondary bg-_bg-light-lightest dark:bg-_bg-dark-lightest;
}

.zwoo--tooltip.tooltip__underline::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	top: 95%;
	background-color: currentColor;
	filter: opacity(0.9);
}

.zwoo--tooltip:hover::after {
	@apply scale-y-100 translate-y-0;
}

@media (hover: none) {
}

