@page "/account-events"
@using ZwooInfoDashBoard.Data
@using ZwooDatabaseClasses

<PageTitle>Account Events</PageTitle>

<h1>Account Events</h1>

<RadzenDataGrid AllowFiltering="true" AllowGrouping="true" AllowSorting="true" AllowPaging="true" PageSize="25"
                TItem="AccountEvent" Data="_events" AllowVirtualization="true">
    <Columns>
        <RadzenDataGridColumn TItem="AccountEvent" Property="PlayerId" Title="ID"/>
        <RadzenDataGridColumn TItem="AccountEvent" Property="EventType" Title="Type"/>
        <RadzenDataGridColumn TItem="AccountEvent" Property="Success" Title="Success"/>
        <RadzenDataGridColumn TItem="AccountEvent" Property="TimeStamp" Title="Time">
            <Template Context="info">
                @DateTimeOffset.FromUnixTimeSeconds((long)info.TimeStamp).ToString("dd.MM.yy HH:mm:ss")
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private IQueryable<AccountEvent> _events = Globals.ZwooDatabase.GetAccountEventsAsQueryable();
}