@page "/account-events"
@inject IDatabase _db

<PageTitle>Account Events</PageTitle>

<h1>Account Events</h1>

<RadzenDataGrid AllowFiltering="true" AllowGrouping="true" AllowSorting="true" AllowPaging="true" PageSize="25"
                TItem="AccountEventDao" Data="_events" AllowVirtualization="true">
    <Columns>
        <RadzenDataGridColumn TItem="AccountEventDao" Property="PlayerID" Title="ID"/>
        <RadzenDataGridColumn TItem="AccountEventDao" Property="EventType" Title="Type"/>
        <RadzenDataGridColumn TItem="AccountEventDao" Property="Success" Title="Success">
            <Template Context="info">
                @info.Success.ToString()
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="AccountEventDao" Property="TimeStamp" Title="Time">
            <Template Context="info">
                @DateTimeOffset.FromUnixTimeSeconds((long)info.TimeStamp).ToString("dd.MM.yy HH:mm:ss")
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private IQueryable<AccountEventDao> _events = new List<AccountEventDao>().AsQueryable();

    protected override void OnInitialized()
    {
        _events = _db.AccountEvents.AsQueryable();
    }
}