@page "/games-overview"
@inject IDatabase _db

<PageTitle>Games Overview</PageTitle>

<h1>Games Overview</h1>

<RadzenDataGrid AllowPaging="true" PageSize="25"
                ExpandMode="DataGridExpandMode.Single" RowRender="@RenderRow"
                TItem="GameInfoDao" Data="_gameInfos" @ref="_gamesDataGrid" AllowVirtualization="true">
    <Template Context="info">
        <p>Scoreboard:</p>
        <RadzenDataGrid TItem="PlayerScoreDao" Data="info.Scores">
            <Columns>
                <RadzenDataGridColumn TItem="PlayerScoreDao" Property="Score" Title="Score"/>
                <RadzenDataGridColumn TItem="PlayerScoreDao" Property="PlayerUsername" Title="Name"/>
                <RadzenDataGridColumn TItem="PlayerScoreDao" Property="IsBot" Title="IsBot"/>
            </Columns>
        </RadzenDataGrid>
    </Template>
    <Columns>
        <RadzenDataGridColumn TItem="GameInfoDao" Property="GameId" Title="ID"/>
        <RadzenDataGridColumn TItem="GameInfoDao" Property="GameName" Title="Name"/>
        <RadzenDataGridColumn TItem="GameInfoDao" Property="TimeStamp" Title="Time">
            <Template Context="info">
                @DateTimeOffset.FromUnixTimeSeconds((long)info.TimeStamp).ToString("dd.MM.yy HH:mm:ss")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="GameInfoDao" Property="IsPublic" Title="Public">
            <Template Context="info">
                <RadzenCheckBox Disabled="true" Value="info.IsPublic"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="GameInfoDao" Title="Winner" Sortable="false" Filterable="false">
            <Template Context="info">
                @(info.Scores.FirstOrDefault(p => p.Score == 0)?.PlayerUsername)
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private IQueryable<GameInfoDao> _gameInfos  = new List<GameInfoDao>().AsQueryable();
    private RadzenDataGrid<GameInfoDao> _gamesDataGrid = new RadzenDataGrid<GameInfoDao>();
    
    protected override void OnInitialized()
    {
        _gameInfos = _db.GamesInfo.AsQueryable();
    }

    private void RenderRow(RowRenderEventArgs<GameInfoDao> args) => args.Expandable = true;
}
