@using ZwooInfoDashBoard.Data

@inherits LayoutComponentBase

@inject NavigationManager UriHelper


<PageTitle>ZwooInfoDashBoard</PageTitle>

<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="@Globals.AuthenticationRole" Context="innerContext">
            <Authorized>
                <div class="page">
                    <div class="sidebar d-flex flex-column">
                        <NavMenu/>
                    </div>
                    <main>
                        <article class="content px-4">
                            @Body
                        </article>
                    </main>
                </div>
                <RadzenDialog />
            </Authorized>
            <NotAuthorized>
                Missing Role @Globals.AuthenticationRole
                <a href="logout">Logout</a>
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
        @{
            var returnUrl = UriHelper.ToBaseRelativePath(UriHelper.Uri);
            UriHelper.NavigateTo($"login?redirectUri={returnUrl}", forceLoad: true);
        }
    </NotAuthorized>
    <Authorizing>Loading...</Authorizing>
</AuthorizeView>