@inherits LayoutComponentBase

<PageTitle>ZwooInfoDashBoard</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
        <RadzenDialog />
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
    <Authorizing>Loading...</Authorizing>
</AuthorizeView>