@using ZwooInfoDashBoard.Data

@inherits LayoutComponentBase

@inject NavigationManager UriHelper


<PageTitle>ZwooInfoDashBoard</PageTitle>

<AuthorizeView>
    <Authorized>
        <AuthorizeView Roles="@Globals.AuthenticationRole" Context="innerContext">
            <Authorized>
                <div class="page">
                    <div class="sidebar d-flex flex-column">
                        <NavMenu/>
                    </div>
                    <main>
                        <article class="content px-4">
                            @Body
                        </article>
                    </main>
                </div>
                <RadzenDialog />
            </Authorized>
            <NotAuthorized>
                Missing Role @Globals.AuthenticationRole
                <a href="logout">Logout</a>
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <div id="notAuthorized">
            <RadzenCard>
                <div>
                    <h1>Zwoo Admin Info Dashboard</h1>
                    <a href="/login">
                        <RadzenButton Variant="Variant.Outlined" Text="Login with OIDC" ButtonStyle="ButtonStyle.Primary" />
                    </a>
                </div>
            </RadzenCard>
            @{
                var uri = UriHelper.ToAbsoluteUri(UriHelper.Uri);
                var shouldRedirect = true;
                if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("noredirect", out var noRedirect))
                {
                    shouldRedirect = false;
                }
                if (shouldRedirect) {
                    var returnUrl = UriHelper.ToBaseRelativePath(UriHelper.Uri);
                    UriHelper.NavigateTo($"login?redirectUri={returnUrl}", forceLoad: true);
                }
            }
        </div>
    </NotAuthorized>
    <Authorizing>Loading...</Authorizing>
</AuthorizeView>