@using ZwooInfoDashBoard.Data
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ZwooInfoDashBoard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games-overview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Games Overview
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deleted-accounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deleted Accounts
            </NavLink>
        </div>
        @if (Globals.ZwooDatabase.GetBetaCodes().Count() != 0)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="betacodes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Beta Codes
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
