@page "/logrush-dashboard"
@using Zwoo.Dashboard.Data

<PageTitle>Logrush Dashboard</PageTitle>

<h1>Logrush Dashboard</h1>

<iframe src="@Globals.LogrushDashboardUrl" style="display: block; height: calc(100vh - 4.6rem);width: 100%;" />

@code {

}