<!DOCTYPE html>
<html>
  <head>
    <style>
      p,
      a {
        color: #e6e5e1;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
          Geneva, Verdana, sans-serif;
        margin: 0;
      }
      h1 {
        margin: 0;
        text-align: center;
        font-size: 2em;
        color: #679df5;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
          Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body style="background-color: #363847; padding: 2rem">
    <div>
      <img
        src="https://zwoo.igd20.de/img/logo/zwoo_logo_none.svg"
        alt="ZWOO Logo"
        style="display: block; width: 200px; margin: 0 auto"
      />
    </div>
    <h1>ZWOO</h1>
    <p style="font-style: italic; text-align: center">The Second Challenge</p>
    <p style="font-weight: bold; margin-top: 2em">Hallo {{username}},</p>
    <p style="margin-top: 1em">
      nutze den Link unten, um dein ZWOO Passwort zurückzusetzen:
    </p>
    <a href="{{link}}">{{link}}</a>
    <p style="margin-top: 2em">Ⓒ ZWOO {{year}}</p>
  </body>
</html>
