@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #0ea5e9;
	--color-primary-hover: #0c91cf;
	--color-primary-contrast-text: #0f0f0e;

	--color-secondary: #7c3aed;
	--color-secondary-hover: #6e33d4;
	--color-secondary-contrast-text: #fdffdc;

	--color-error: #dc2626;
	--color-error-hover: #c22121;

	--color-success: #16a34a;
	--color-success-hover: #128a3e;

	--color-warning: #eab308;
	--color-warning-hover: #d19e06;
}

[data-theme='dark'] {
	--color-bg: #2e2b36;
	--color-inverse-bg: #d2d0d9;
	--color-bg-surface: #202023;
	--color-bg-surface-hover: #38383d;
	--color-bg-alt: #353550;
	--color-bg-alt-hover: #454569;

	--color-border: #404040;
	--color-border-light: #737373;
	--color-divider: #d4d4d4;

	--color-text: #f4f4f5;
	--color-text-secondary: #a1a1aa;

	--color-primary-text: #0ea5e9;
	--color-secondary-text: #a78bfa;
	--color-error-text: #ff5768;
	--color-success-text: #4ade80;
	--color-warning-text: #eab308;
}

[data-theme='light'] {
	--color-bg: #d2d0d9;
	--color-inverse-bg: #2e2b36;
	--color-bg-surface: #f4f4f5;
	--color-bg-surface-hover: #dbdbdb;
	--color-bg-alt: #d8dbf2;
	--color-bg-alt-hover: #c1c4d9;

	--color-border: #a3a3a3;
	--color-border-light: #525252;
	--color-divider: #262626;

	--color-text: #07071c;
	--color-text-secondary: #49495e;

	--color-primary-text: #075985;
	--color-secondary-text: #6d28d9;
	--color-error-text: #991b1b;
	--color-success-text: #166534;
	--color-warning-text: #854d0e;
}

@layer utilities {
	.bg-main {
		background-color: var(--color-bg);
	}
	.bg-surface {
		background-color: var(--color-bg-surface);
	}
	.bg-alt {
		background-color: var(--color-bg-alt);
	}

	/* Depracated */
	.bg-light {
		background-color: var(--color-bg-surface);
	}
	.bg-lightest {
		background-color: var(--color-bg-surface);
		/* @apply bg-_bg-light-lightest dark:bg-_bg-dark-lightest; */
	}
	.bg-dark {
		background-color: var(--color-bg-alt);
		/* @apply bg-_bg-light-dark dark:bg-_bg-dark-dark; */
	}
	.bg-darkest {
		background-color: var(--color-bg-alt);
		/* @apply bg-_bg-light-darkest dark:bg-_bg-dark-darkest; */
	}
	/* End Deprecated */

	.tc-main {
		color: var(--color-text);
	}
	.tc-main-secondary {
		color: var(--color-text-secondary);
		/* @apply text-_text-dark-secondary dark:text-_text-light-secondary; */
	}
	.tc-main-light {
		color: var(--color-text);
		/* @apply text-_text-dark-light dark:text-_text-light-dark; */
	}
	.tc-main-dark {
		color: var(--color-text);
		/* @apply text-_text-dark-dark dark:text-_text-light-light; */
	}
	.tc-primary {
		color: var(--color-primary-text);
		/* @apply text-primary-text-dark dark:text-primary-text-light; */
	}
	.tc-secondary {
		color: var(--color-secondary-text);
		/* @apply text-secondary-text-dark dark:text-secondary-text-light; */
	}

	.bc-main {
		border-color: var(--color-border);
		/* @apply border-_bg-light dark:border-_bg-dark; */
	}
	.bc-light {
		border-color: var(--color-border);
		/* @apply border-_bg-light-light dark:border-_bg-dark-light; */
	}
	.bc-lightest {
		border-color: var(--color-border);
		/* @apply border-_bg-light-lightest dark:border-_bg-dark-lightest; */
	}
	.bc-dark {
		border-color: var(--color-border);
		/* @apply border-_bg-light-dark dark:border-_bg-dark-dark; */
	}
	.bc-darkest {
		border-color: var(--color-border);
		/* @apply border-_bg-light-darkest dark:border-_bg-dark-darkest; */
	}

	.bc-invert-main {
		border-color: var(--color-border);
		/* @apply border-_bg-dark dark:border-_bg-light; */
	}
	.bc-invert-light {
		border-color: var(--color-border);
		/* @apply border-_bg-dark-light dark:border-_bg-light-light; */
	}
	.bc-invert-lightest {
		border-color: var(--color-border);

		/* @apply border-_bg-dark-lightest dark:border-_bg-light-lightest; */
	}
	.bc-invert-dark {
		border-color: var(--color-border);
		/* @apply border-_bg-dark-dark dark:border-_bg-light-dark; */
	}
	.bc-invert-darkest {
		border-color: var(--color-border);
		/* @apply border-_bg-dark-darkest dark:border-_bg-light-darkest; */
	}

	.bc-primary {
		border-color: var(--color-primary);
		/* @apply border-primary-dark dark:border-primary-light; */
	}
	.bc-secondary {
		border-color: var(--color-secondary);
		/* @apply border-secondary-dark dark:border-secondary-light; */
	}

	.border-1 {
		border-width: 1px;
	}
	.border-b-1 {
		border-bottom-width: 1px;
	}
	.border-l-1 {
		border-left-width: 1px;
	}
	.border-r-1 {
		border-right-width: 1px;
	}
	.border-t-1 {
		border-top-width: 1px;
	}
}

html {
	color-scheme: light;
	font-size: 16px;
}

html.dark {
	color-scheme: dark;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 20px;
	}
}

.max-height-ios {
	height: 100vh;
	max-height: calc(100vh - 100%);
}

/* width */
/* ::-webkit-scrollbar {
	width: 16px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
	@apply bg-_bg-light-darkest dark:bg-_bg-dark-darkest;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
	@apply bg-_bg-light dark:bg-_bg-dark;
	@apply border-_bg-light-darkest dark:border-_bg-dark-darkest;
	border: 2px solid;
	border-radius: 8px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
	@apply bg-_bg-light-dark dark:bg-_bg-dark-dark rounded-sm;
	@apply border-_bg-light-darkest dark:border-_bg-dark-darkest;
	border-radius: 8px;
} */

::-ms-reveal {
	display: none;
}

button {
	user-select: none;
}
