@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.bg-main {
		@apply bg-_bg-light dark:bg-_bg-dark;
	}
	.bg-light {
		@apply bg-_bg-light-light dark:bg-_bg-dark-light;
	}
	.bg-lightest {
		@apply bg-_bg-light-lightest dark:bg-_bg-dark-lightest;
	}
	.bg-dark {
		@apply bg-_bg-light-dark dark:bg-_bg-dark-dark;
	}
	.bg-darkest {
		@apply bg-_bg-light-darkest dark:bg-_bg-dark-darkest;
	}

	.tc-main {
		@apply text-_text-dark dark:text-_text-light;
	}
	.tc-main-secondary {
		@apply text-_text-dark-secondary dark:text-_text-light-secondary;
	}
	.tc-main-light {
		@apply text-_text-dark-light dark:text-_text-light-dark;
	}
	.tc-main-dark {
		@apply text-_text-dark-dark dark:text-_text-light-light;
	}
	.tc-primary {
		@apply text-primary-text-dark dark:text-primary-text-light;
	}
	.tc-secondary {
		@apply text-secondary-text-dark dark:text-secondary-text-light;
	}

	.bc-main {
		@apply border-_bg-light dark:border-_bg-dark;
	}
	.bc-light {
		@apply border-_bg-light-light dark:border-_bg-dark-light;
	}
	.bc-lightest {
		@apply border-_bg-light-lightest dark:border-_bg-dark-lightest;
	}
	.bc-dark {
		@apply border-_bg-light-dark dark:border-_bg-dark-dark;
	}
	.bc-darkest {
		@apply border-_bg-light-darkest dark:border-_bg-dark-darkest;
	}

	.bc-invert-main {
		@apply border-_bg-dark dark:border-_bg-light;
	}
	.bc-invert-light {
		@apply border-_bg-dark-light dark:border-_bg-light-light;
	}
	.bc-invert-lightest {
		@apply border-_bg-dark-lightest dark:border-_bg-light-lightest;
	}
	.bc-invert-dark {
		@apply border-_bg-dark-dark dark:border-_bg-light-dark;
	}
	.bc-invert-darkest {
		@apply border-_bg-dark-darkest dark:border-_bg-light-darkest;
	}

	.bc-primary {
		@apply border-primary-dark dark:border-primary-light;
	}
	.bc-secondary {
		@apply border-secondary-dark dark:border-secondary-light;
	}

	.border-1 {
		border-width: 1px;
	}
	.border-b-1 {
		border-bottom-width: 1px;
	}
	.border-l-1 {
		border-left-width: 1px;
	}
	.border-r-1 {
		border-right-width: 1px;
	}
	.border-t-1 {
		border-top-width: 1px;
	}
}

:root {
	--shadow-main: rgba(14, 30, 62, 0.3);
	--shadow-dark: rgba(8, 19, 41, 0.4);
	--shadow-light: rgba(44, 64, 102, 0.2);

	--bp-xs: 576px;
	--bp-m: 768px;
	--bp-l: 992px;
	--bp-xl: 1200px;
	--bp-xxl: 1400px;
}

body.dark {
	--shadow-main: rgba(121, 137, 168, 0.3);
	--shadow-dark: rgba(114, 130, 163, 0.2);
	--shadow-light: rgba(181, 195, 224, 0.4);
}

html {
	font-size: 16px;
}

@media screen and (min-width: 768px) {
	html {
		font-size: 20px;
	}
}

.grecaptcha-badge {
	visibility: hidden;
	display: none;
}

.grecaptcha-badge.visible {
	visibility: visible !important;
	display: block !important;
}

.max-height-ios {
	height: 100vh;
	max-height: calc(100vh - 100%);
}

.device-padding {
	padding-top: env(safe-area-inset-top);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
}

.padding-menu {
	padding-top: 2.5rem;
}

/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-_bg-light dark:bg-_bg-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-_bg-light-dark dark:bg-_bg-dark-dark rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-_bg-light-darkest dark:bg-_bg-dark-darkest;
}

::-ms-reveal {
	display: none;
}
